.menu-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #160E37;
    z-index: 100000000;
    box-shadow: 0 -10px 10px rgba(87, 87, 87, 0.1);
}

.menu-item-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 6vw;
    padding: 5vw;
    transition: color 0.3s;
}

.menu-item-mobile-selected {
    background-color: white;
    color: #160E37;
    transition: color 0.3s;
}

.menu-item>i {
    font-size: 50px;
}
