.minhas-vagas{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}


.container-minhas-vagas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4vw 0 0 0;
}

.content-minhas-vagas{
    width: 28%;
    border-radius: 10px;
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.9vw 0.01vw #e3e3e3;
}

.content-infos-minhas-vagas{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 15vw;
    width: 22.5vw;
    padding: 0.6vw 1.5vw;
    font-size: 1vw;
    border-bottom: 0 !important;
    border-radius: 0.78vw 0.78vw 0 0;
}

.content-infos-minhas-vagas p {
    text-align: justify;
    font-size: 0.92vw;
}

.content-infos-minhas-vagas h4 {
    padding: 0 0 0.5vw 0;
    font-size: 1vw;
    font-weight: 600;
}

.content-titulo-minhas-vagas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-titulo-minhas-vagas i{
    background-color: #f9f9f9a0;
    color: #160E37;
    transform: rotate(-45deg);
    padding: 1vw;
    border-radius: 100px;
    font-size: 0.8vw;
}

.content-titulo-minhas-vagas h1 {
    font-size: 1.2vw;
}

.content-area-minhas-vagas{
    display: flex;
    width: 100%;
    background-color: #160E37;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0.78vw 0.78vw;
    font-size: 0.8vw;
}

.content-area-minhas-vagas a {
    font-size: 1.2vw;
    font-weight: 700;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 1vw;
}

.sem-informacoes {
    font-size: 1.2vw !important;
    color: #b4b4b4;
}